<ul class='post-lists'>

      
       <% @post.each do |post|%> 
         <li class='list'> 
            <%= link_to post_path(post.id) do %>
              <div class='post-img-content'>
                 <%= image_tag post.image, class: "post-img" %> 
               <% end %> 
               <h3>
               <%= user.nickname%>
               </h3>
                <% end %>
          </li>
                
  
   <% if @post == [] %>
      <li class='list'>
        <%= link_to '#' do %>
         <%= image_tag "IMG_0332.jpeg", class: "post-img" %> 
        <div class='post-info'>
        <h3 class='post-name'>
            コーディネイトを投稿してね！！
          </h3>
        </div>
        <% end %>
        </li>
        <% end %>