<%= render "shared/header" %> 
<div class='main'>

  <%# 誰でも変われる！！の部分 %>
  <%= image_tag "4229499_l.jpg", class:"list-pict" %> 
  <div class='title-contents'>
    <h2 class='service-title'>
      誰でも変われる！！コーディネートアプリ
    </h2>
    <p class='service-explain'>
      おしゃれを投稿みんなおしゃれに！！
    </p>
    
    </div>
  </div>

  <div class='select-reason-contents'>
    <h2 class='title'>
      FASHIONの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>3分</span>
          ですぐに投稿
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に投稿できる！
        </p>
      </li>
      <li class='list'>
      <%= image_tag "furima-intro02.png", class:"list-pict" %> 
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>シンプル</span>
          で使いやすい
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %> 
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          みんなで
          <span class='reason-list-blue-text'>おしゃれを共有</span>
        </h3>
        <p class='reason-list-description'>
          コーディネイト参考にみんなおしゃれに！
        </p>
      </li>
    </ul>
  </div>
  <%# コーディネイト一覧 %>
  

      
      <%# <% @posts.each do |post|%> 
          <li class='list'>
            <%= link_to "#" do %>
              <div class='post-img-content'>
                <%# <%= image_tag post.image, class: "post-img" %> 

                
                <%# 購入機能未実装の為コメントアウト %>
                
                
              </div>
              
              </div>
            <%# <% end %> 
      </li>
        <% end %>
          
  
      
      

<%# /商品一覧 %>
</div>
  <div class='post-contents'>
    <h2 class='title'>ピックアップコーディネイト</h2>
    <%= link_to '新規投稿コーディネイト', "#", class: "subtitle" %>
<%# 編集 %>
<%=render "post"%>
   <%# 投稿ボタン %>
    <%= link_to new_post_path do %>
    <div class= 'purchase-btn'>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
</div>